body{
    background-image: url('pexels-pixabay-414320.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* overflow: hidden; */
}
section{
    margin-top: 60px;
    background-color: rgb(202, 202, 245);
    border-radius: 5%;
}
/* .box{
    display: flex;
} */
#disp{
    height: 70vh;
    width: 50%;
    line-height: 2em; 
    text-align: left;
}
#image{
    height: 70vh;
    width: 50%;
}
p{
    font-size: 30px; 
}
.btn{
    background-color: rgb(7, 17, 7);
}

@media screen and (max-width:1024px) {
    #disp{
        height: 70vh;
        width: 50%;
        line-height: 1.5em; 
        text-align: left;
    }
}